body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.menu {
    height: 100px;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 10px black;
}

.container {
    max-width: 1000px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    object-fit: cover;
}

.navegation {
    margin: right 0;
}

.nav-items {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

.nav-items li a:hover {
    color: rgb(17, 8, 117);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 200px;
    height: 450px;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.ingridkuhn.com/themes/unitedpets/img/slider/slide1-parallax.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

    .up {
        font-weight: lighter;
    }

    h1 {
        color: whitesmoke;
        font-size: 50px;
    }

    p {
        color: whitesmoke;
        margin-top: -40px;
    }


    button {
        color: aliceblue;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 200px;
        padding: 10px 30px;
        background-color: #018AE0;
        border-radius: 25px;
        border: none;
    }

    button:hover {
        background-color: #1446A0;
    }

    img {
        max-width: 70%;
        max-height: 70%;
    }
}

#quality {
    max-width: 1000px;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 75px 75px;
    color: whitesmoke;

    button {
        width: 30%;
        padding: 10px 30px;
        background-color: #d41d64;
        border-radius: 25px;
        border: none;
        color: whitesmoke;
        text-transform: uppercase;
        font-weight: 600;
    }

    button:hover {
        background-color: #921445;
    }

}

.quality-text {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 30px;
        color: black;
    }

    p {
        color: grey;
        padding-right: 60px;
        font-size: 14px;
        margin-top: -20px;
    }

}
